{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="home-logo">
      <img src="{% static 'images/logo.png' %}">
    </div>
    <div class="wrapper">
      <div class= "textform" >
        <p>ユーザーID</p>
        <p class="mb30">
          <input type="text" size="40" class="form-box">
        </p>
        <p>パスワード</p>
        <p class="mb30">
            <input type="text" size="40" class="form-box">
        </p>
        <div class="center">
            <form action="#">
              <input type="submit" value="ログイン" class="btn-go mb30">
            </form>
        </div>
        <div class="center">
          <a href="{% url 'kodomo:tickets_list' %}">ログインせずに使う</a>
        </div>
      </div>
    </div>
    <footer>
      <ul>
        <a href="{% url 'kodomo:tickets_list' %}"><li>券を<br>みる</li></a>
        <a href="{% url 'kodomo:tickets_use' %}"><li>券を<br>つかう</li></a>
        <a href="{% url 'kodomo:banks_detail' 1 %}"><li>kodomo<br>口座</li></a>
        <a href="{% url 'kodomo:tickets_buy' %}"><li>券を<br>かいたす</li></a>
      </ul>
    </footer>
  </body>
</html>